
.an-slidershop__item{
	background-position: center;
	background-repeat: no-repeat;
}
.menu-cont {
    position: absolute;
    display: none;
    cursor: pointer;
    padding: 20px;
    right: 1px;
    top: 5px;
}

.menu-txt {
    display: inline-block;
    margin-right: 15px;
    position: relative;
    bottom: 3px;
    color: #000;
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: 6px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

.menu {
    content: "";
    display: inline-block;
    position: relative;
    float: right;
    opacity: 1;
    height: 3px;
    width: 30px;
    background-color: #000;
    -webkit-transition: -webkit-transform 400ms ease;
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.menu.active {
    -webkit-transform: rotate(45deg) translateY(12px);
    transform: rotate(45deg) translateY(12px);
}

.menu.active:before {
    opacity: 0;
}

.menu.active:after {
    -webkit-transform: rotate(-450deg) translateX(16px);
    transform: rotate(-450deg) translateX(16px);
}

.menu:before, .menu:after {
    content: "";
    display: block;
    position: absolute;
    opacity: 1;
    height: 3px;
    width: 30px;
    background-color: #000;
}

.menu:before {
    top: 8px;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

.menu:after {
    top: 16px;
    -webkit-transition: -webkit-transform 400ms ease;
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease;
}


/*==========  Desktop First Method  ==========*/

@media only screen and (max-width : 1366px) {

}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


	.an-title h2,.an-title-border, .text-title{
		width: 100%
	}

	.an-material__button, .an-new-news__wrap{
		display: block;
	}
	.an-material__inner{
		width: 100%;
	}

	.an-new-news__item{
		width: 100%;
		margin-bottom: 30px;
	}

	.an-header__nav{
		display: none;
		position: absolute;
	   	top: 84px;
	    width: 100%;
	    padding: 20px;
	    background: #fff;
	    left: 0;
	    z-index: 1;
	}
	.an-header__nav ul,{
		display: block;
	}
	.an-header__nav ul li{
		padding: 10px 0
	}
	.an-header__nav ul li a:hover{
		color: #3d4355;
	}
	.menu-cont{
		display: block;
	}
	.an-header__wrapp{
		justify-content: flex-start;

	}

	.an-slidershop__item{
		background-position: center;
		 background-repeat: no-repeat;
	}

	.an-slidershop__text {
	    background: rgba(15, 7, 43, 0.68);
	    color: #fff;
	    width: 335px;
	    position: absolute;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    bottom: 0;
	    left: 15%;
	    padding: 0 10px;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}

	.an-top-sosial__wrapp{
		display: block;
	}

	.an-privat__address li h4 i {
	    position: absolute;
	    right: 0;
	    top: 5px;
	}

	.an-privat__address li{
		display: block;
	}

	.season{
		width: 35%;
	}

	.an-header__nav ul{
		display: block;
	}

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.an-footer-form{
		position: relative;
		top: 0;
		width: 100%;
	}


	.an-topfooter{
		text-align: center;
	}

	.an-material:before {
	    content: '';
	    position: absolute;
	    right: -16%;
	    bottom: 0;
	    width: 57%;
	    z-index: 0;
	    height: 40%;
	    background: url(../img/15a.png) no-repeat;
	}
		.an-new-news .an-advice {
	    padding: 40px 0 34px;
	    height: auto;
	}



	.sosial{
		display: block;

	}

	.an-slidershop .fa-angle-right{
		right: 0;
	}

	.an-slidershop .fa-angle-left{
		left: 0
	}

	.img-bgn{
		width: 100%;
	}

	.an-material__item{
		width: 400px
	}

	.an-filter{
		display: block;
	}

	.an-sidebar__wrapp{
		display: none
	}

	.an-shop-title{
		position: static;
		top: 0;
		text-align: left;
	}

	.an-shop{
		display: block;
		border: 1px solid #e1e6f3;
	}
	.an-shop__img, .an-shop__content{
		border: none;
	}

	.an-shop__img {
	    padding-left: 20px;
	    width: 31%;
	 }
	.an-shop__content{
		width: 100%;
		left: 0;
	}

	.an-total {
	   width: 100%;
	}


	.an-privat{
		display: block;
	}

	.an-privat__list {
	    width: 100%;
	    /* text-align: center; */
	}

	.an-privat__address li p {
	    width: 100%;

	}

	.an-privat__accordion{
		width: 100%
	}

	.accordion-thumb, .accordion-list{
		display: block;
	}

	.an-privat__wrapp{
		display: block;
	}

	.an-cloth__title, .an-cloth__content{
		display: block;
	}

	.tabs {
	    width: 100%;
	}

	.tabs__top{
		display: block;
		padding: 8px 20px;
	}

	header .an-header__left span {
		display: none
	}
}


@media only screen and (max-width : 760px) and (min-width : 600px){


	.an-topfooter .an-top-sosial__left{
		width: 35%;
   		margin: 40px auto;
	}

	.an-topfooter .an-top-sosial__right {
	    width: 31%;
	    margin: auto;
	}

	.an-topfooter .an-button{
	    width: 33%;
	    margin: 40px auto;
	}

	.an-topfooter .an-topfooter__list {
	    padding-left: 20px;
	    width: 39%;
	    margin: auto;
	}



}

@media only screen and (max-width : 760px) {

}
/* Extra Small Devices, Phones */

@media only screen and (max-width : 480px) {
	
	.fa-angle-right{
		right: 0;
	}
	.fa-angle-left{
		left: 0
	}

	.an-slidershop__text{		
    	left: 10%;
	}

	.an-top-sosial__right{
		   margin-left: 12px;
	}
	.an-footer-form {
	    padding: 20px;
	}

	.an-material__item{
		height: 300px
	}

	.an-shop__content{
		display: block;
	}

	.an-shop__img {
	    padding-left: 20px;
	    width: 100%;
	}

	.an-price{
		text-align: left;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width :  1367px) {

}

